body{
  margin: 5%;
  height: auto;
  width: auto;

}

.App{

}

.Header{
  width: auto;;
  position: relative;

}

.Recipes{
}

.Panty{

}

.Search {

}

.main {
  width: 50%;
  height: 75%;
  float:left;
  margin: 5%;
}

.login{
  display:inline-block;
}
