body{
  margin: 5%;

}

.App{

}

.Header{
  height: 5%;
  width: 100%;
  position: relative;

}

.Recipes{
  height: 60%;
  width: 40%;
}

.Panty{
  height: 40%;
  width: 40%;
}

.Search {

}

.navbar{
  width: 100%;
}

.login{
  display:inline-block;
}
